@import "../../responsive.scss";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  .content {
    flex: 1;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}

.layout .content {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include lg {
    max-width: 1280px;
  }

  @include md {
    max-width: 768px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include sm {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

// Home page - full width with proper spacing
.layout .content > .homePage {
  margin-left: calc(-20px - ((100vw - 1400px) / 2));
  margin-right: calc(-20px - ((100vw - 1400px) / 2));
  width: 100%;
  max-width: 100%;
  padding-left: calc((100vw - 1400px) / 2 + 60px);
  padding-right: calc((100vw - 1400px) / 2 + 60px);

  @include lg {
    margin-left: calc(-15px - ((100vw - 1280px) / 2));
    margin-right: calc(-15px - ((100vw - 1280px) / 2));
    padding-left: calc((100vw - 1280px) / 2 + 40px);
    padding-right: calc((100vw - 1280px) / 2 + 40px);
  }

  @include md {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }

  @include sm {
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
